.App {
 background-color: #cc9d9d;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 800px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #282828;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #282828;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.Header-style {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: rgb(24, 26, 21);
  font-family: Arial, Helvetica, sans-serif;
}

.playerName-active {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: rgb(8, 8, 68);
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  padding-left: 50px;
}

.playerName {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: rgb(8, 8, 68);
  opacity: 0;
  transition-duration: 1s ease;
}